<div class="centered-dialog">
  <form
    tuiForm="l"
    [formGroup]="changePasswordForm"
    class="app-form"
    tuiAppearance="flat"
    (ngSubmit)="sendForm()"
  >
    <header class="form-header">
      <b>{{ changePasswordForm.getTitle() }}</b>
    </header>
    <tui-textfield class="wide">
      <label tuiLabel htmlFor="password">Новый пароль</label>
      <input tuiTextfield formControlName="password" type="password" />
    </tui-textfield>
    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <tui-textfield class="wide">
      <label tuiLabel htmlFor="confirmPassword">Повторите пароль</label>
      <input tuiTextfield formControlName="confirmPassword" type="password" />
    </tui-textfield>
    <tui-error
      formControlName="confirmPassword"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <div class="inline-group">
      <button tuiButton appearance="primary" class="wide" type="submit">
        Изменить пароль
      </button>
    </div>
  </form>
</div>
